In [68]:
import numpy as np
import pandas as pd
import itertools as it
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [69]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
231,tt1929263,12000000,101332962,Heaven is for Real,Greg Kinnear|Kelly Reilly|Connor Corum|Thomas ...,Randall Wallace,Unlock the mystery,Heaven is for Real recounts the true story of ...,99,Drama,TriStar Pictures|Screen Gems|Roth Films,4/16/2014,6.1,2014
111,tt1243974,37000000,26250020,Aloha,Bradley Cooper|Emma Stone|Rachel McAdams|John ...,Cameron Crowe,Sometimes you have to say goodbye before you c...,A celebrated military contractor returns to th...,105,Adventure|Comedy|Romance,Columbia Pictures|Vinyl Films|Regency Enterpri...,5/27/2015,5.2,2015
1393,tt0391304,30000000,42886719,A Lot Like Love,Ashton Kutcher|Amanda Peet|Aimee Garcia|Taryn ...,Nigel Cole,There's nothing better than a great romance......,"On a flight from Los Angeles to New York, Oliv...",107,Comedy,Mile High Productions|Kevin Messick Production...,4/22/2005,6.5,2005
1697,tt0478311,30000000,219076518,Knocked Up,Seth Rogen|Katherine Heigl|Leslie Mann|Paul Ru...,Judd Apatow,Save the due date.,"For fun loving party animal Ben Stone, the las...",129,Comedy|Romance|Drama,Universal Pictures|Apatow Productions,6/1/2007,6.0,2007
346,tt0810784,8500000,4440055,Bright Star,Abbie Cornish|Ben Whishaw|Paul Schneider|Kerry...,Jane Campion,First love burns brightest.,"In 1818, high-spirited young Fanny Brawne find...",119,Drama|Romance,BBC Films|PathÃ© Renn Productions|UK Film Coun...,11/5/2009,6.3,2009

In [70]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [71]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data.revenue - data.budget
data_month = data.copy()
data_copy = data.copy()
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [72]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [73]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [74]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [75]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [76]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [77]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [78]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [79]:
answers['4'] = '110'

In [80]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [81]:
answers['5'] = '107'

In [82]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [83]:
answers['6'] = 'Avatar (tt0499549)'

In [84]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [85]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [86]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [87]:
answers['8'] = '1478'

In [88]:
data.value_counts(data.revenue > data.budget)

True     1478
False     411
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [89]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [90]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [91]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [92]:
data_12_14 = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
data_12_14[data_12_14.profit == data_12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [93]:
answers['11'] = 'Drama'

In [94]:
data.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [95]:
answers['12'] = 'Drama'

In [96]:
data[data.profit>0].genres.str.split('|').explode().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [97]:
answers['13'] = 'Peter Jackson'

In [98]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [99]:
answers['14'] = 'Robert Rodriguez'

In [100]:
data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Ridley Scott           6
Antoine Fuqua          6
                      ..
Julie Anne Robinson    1
Sanjay Gadhvi          1
Donald Petrie          1
Jay Chandrasekhar      1
Corey Yuen Kwai        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [101]:
answers['15'] = 'Chris Hemsworth'

In [102]:
df_max_revenue_actors = data[data.release_year==2012][['cast', 'original_title', 'revenue']]
df_max_revenue_actors['actors'] = df_max_revenue_actors.cast.str.split('|')
df_max_revenue_actors.explode('actors').groupby('actors')['revenue'].sum().sort_values(ascending=False)

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [103]:
answers['16'] = 'Matt Damon'

In [104]:
data[data.budget>data.budget.mean()].cast.str.split('|').explode().value_counts()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
                  ..
Carol Burnett      1
Nick Stahl         1
Phyllida Law       1
Lester Speight     1
Garry Marshall     1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [105]:
answers['17'] = 'Action'

In [106]:
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [107]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [108]:
df_min_profit_pm = data[data.production_companies.str.contains('Paramount Pictures')]
df_min_profit_pm[df_min_profit_pm.profit == df_min_profit_pm.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [109]:
answers['19'] = '2015'

In [110]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [111]:
answers['20'] = '2011'

In [112]:
temp = data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])
temp['profit'].agg(['sum', 'max']).sort_values(['sum'], ascending=False)

                     sum         max
release_year
2014          2295464519   483507423
2007          2201675217   788212738
2008          2134595031   816921825
2010          1974712985   704305868
2011          1871393682  1202817822
2003          1855493377   588599701
2009          1822454136   683959197
2013          1636453400   611392705
2004          1631933725   659804554
2005          1551980298   745921036
2001          1343545668   851475550
2012          1258020056   831041287
2002          1022709901   776688482
2015           870368348   360490832
2006           620170743   284335608
2000           452631386   205756637

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [113]:
answers['21'] = 'Сентябрь'

In [114]:
data_month.release_date = pd.to_datetime(data_month.release_date)
data_month['release_month'] = data_month['release_date'].map(lambda date: date.month)
data_month.groupby(['release_month'])['release_year'].count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_year, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [115]:
answers['22'] = '450'

In [116]:
len(data_month[data_month.release_month.isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [117]:
answers['23'] = 'Peter Jackson'

In [118]:
data_month[data_month.release_month.isin([12,1,2])].director.str.split('|').explode().value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Martin Scorsese      4
                    ..
Chris Weitz          1
Ava DuVernay         1
Lexi Alexander       1
Steve Pink           1
Garth Jennings       1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [119]:
answers['24'] = 'Four By Two Productions '

In [120]:
data_copy['length_title'] = data_copy['original_title'].map(lambda title: len(title))
data_copy['company'] = data_copy.production_companies.str.split('|')
data_copy.explode('company').groupby(['company'])['length_title'].median().sort_values(ascending=False)

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Global Entertainment Group     2.0
Name: length_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [121]:
answers['25'] = 'Midnight Picture Show '

In [122]:
data_copy['length_overview'] = data_copy['overview'].map(lambda overview: len(overview.split()))
data_copy.explode('company').groupby(['company'])['length_overview'].median().sort_values(ascending=False)

company
Midnight Picture Show                             175.0
Room 9 Entertainment                              161.0
98 MPH Productions                                159.0
Heineken Branded Entertainment                    159.0
Brookwell-McNamara Entertainment                  156.0
                                                  ...
Phantom Four                                       13.0
TDJ Enterprises / New Dimensions Entertainment     13.0
Our Stories Films                                  13.0
Motion Picture Corporation of America              11.0
Empire Pictures                                    11.0
Name: length_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [123]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [124]:
data[['original_title', 'vote_average']].sort_values(['vote_average'], ascending=False).head(18)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [125]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [126]:
collect = Counter()

In [127]:
data_copy['actors'] = data_copy.cast.str.split('|')
data_copy['two_actors'] = data_copy.actors.apply(lambda actor: it.combinations(actor, 2))
data_copy.two_actors = data_copy.two_actors.apply(list)
data_copy = data_copy.explode('two_actors')

In [128]:
for actor in data_copy.two_actors:
    collect[actor] += 1
collect.most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

# Submission

In [129]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2011',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions ',
 '25': 'Midnight Picture Show ',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [130]:
# и убедиться что ни чего не пропустил)
len(answers)

27